REDIS_URL=rediss://default:your_key_pass@your_key_name.upstash.io:6379
LOCAL_PORT=4030
DATABASE_URL=mongodb+srv://your_user:your_password@cluster0.rbdq7.mongodb.net/your_db_name

EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_email_pass
EMAIL_USER_RECEIVER=receiver_email@gmail.com

ACCESS_TOKEN_SECRET=your_pass_gmail
REFRESH_TOKEN_SECRET=your_pass_gmail